<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<XML>
    <DataNodes>
        <DataNode Id="ServerID" Type="int" Public="1" Private="0" Save="0" Cache="0" Ref="0" Desc="服务器ID"/>
        <DataNode Id="Name" Type="string" Public="1" Private="0" Save="0" Cache="0" Ref="0" Desc="服务器名字"/>
        <DataNode Id="MaxOnline" Type="int" Public="1" Private="0" Save="0" Cache="0" Ref="0" Desc="作为服务器时：服务器最大连接"/>
        <DataNode Id="CpuCount" Type="int" Public="1" Private="0" Save="0" Cache="0" Ref="0" Desc="CPU个数（机器）"/>
        <DataNode Id="IP" Type="string" Public="1" Private="0" Save="0" Cache="0" Ref="0" Desc="IP地址"/>
        <DataNode Id="Port" Type="int" Public="1" Private="0" Save="0" Cache="0" Ref="0" Desc="作为服务器时：相对客户端的port"/>
        <DataNode Id="Type" Type="int" Public="1" Private="0" Save="0" Cache="0" Ref="0" Desc="服务器类型"/>
    </DataNodes>
    <DataTables/>
    <Components/>
</XML>
