<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<XML>
    <Entry Id="GameServer_1" ServerID="6" Name="GameServer_1" MaxOnline="5000" CpuCount="1" IP="127.0.0.1" Port="16001" Type="6"/>
    <Entry Id="WorldServer_1" ServerID="7" Name="WorldServer_1" MaxOnline="5000" CpuCount="1" IP="127.0.0.1" Port="17001" Type="7"/>
    <Entry Id="ProxyServer_1" ServerID="5" Name="ProxyServer_1" MaxOnline="5000" CpuCount="1" IP="127.0.0.1" Port="15001" Type="5"/>
    <Entry Id="MasterServer_1" ServerID="3" Name="MasterServer_1" MaxOnline="5000" CpuCount="1" IP="127.0.0.1" Port="13001" Type="3"/>
    <Entry Id="LoginServer_1" ServerID="4" Name="LoginServer_1" MaxOnline="5000" CpuCount="1" IP="127.0.0.1" Port="14001" Type="4"/>
</XML>
